.container {
    border: 1px solid black;
    /* padding: 15px; */
 }
 
 #top-section {
   border-bottom: 1px solid grey;
 }
 
 #expand-container {
   overflow: hidden;
 }
 
 #expand-contract {
   border-bottom: 1px solid maroon;
   margin-top: -100%;
   transition: all 1s;
 }
 
 #expand-contract.expanded {
    background-color: grey;
    margin-top: 0;
    
 }

.container #firstbox{
    height: max-content;
}
 #academicimg{
     width: 100%;
     height: 100%;
 }